# Fundamentals of Data Analysis Tasks

**Anthony McGarry**

***

## Task 1

> The Collatz conjecture is a famous unsolved problem in mathematics. The problem is to prove that if you start with any positive integer x and repeatedly apply the function $f(x)$ below, you always get stuck in the repeating sequence 1, 4, 2, 1, 4, 2, . .

In [88]:
def f(x):
  # If x is even, divide it by two.
  if x % 2 == 0:
    return x // 2
  else:
    return (3 * x) + 1

In [89]:
def collatz(x):
  print(f'Initial testing Collatz with inital value {x}')
  
  while x != 1:
    x = f(x)
    print(x, end = ',')

In [90]:
collatz(587)

Initial testing Collatz with inital value 587
1762,881,2644,1322,661,1984,992,496,248,124,62,31,94,47,142,71,214,107,322,161,484,242,121,364,182,91,274,137,412,206,103,310,155,466,233,700,350,175,526,263,790,395,1186,593,1780,890,445,1336,668,334,167,502,251,754,377,1132,566,283,850,425,1276,638,319,958,479,1438,719,2158,1079,3238,1619,4858,2429,7288,3644,1822,911,2734,1367,4102,2051,6154,3077,9232,4616,2308,1154,577,1732,866,433,1300,650,325,976,488,244,122,61,184,92,46,23,70,35,106,53,160,80,40,20,10,5,16,8,4,2,1,

In [91]:
def verify_collatz(limit):
    for i in range(1, limit + 1):
        x = i  # Initialize x with the original value of i
        while x != 1:
            x = f(x)
            if x == 1:
                break
        if x != 1:
            print(f'The Collatz Conjecture is not true for {i}.')
            return

    print('The Collatz Conjecture is true for all numbers up to', limit)

# Verify the Collatz Conjecture for the first 10,000 positive integers
verify_collatz(10000)

The Collatz Conjecture is true for all numbers up to 10000

***

## End

## Task 2

> Give an overview of the famous penguins data set,explaining the types of variables it contains. Suggest the types of variables that should be used to model them in Python, explaining your rationale.

In [92]:
import pandas as pd

In [93]:

# Specify the name of the CSV file

file_name = "penguins_lter.csv"

# Use the pandas read_csv function to read the CSV file

data = pd.read_csv(file_name)

In [94]:
data.describe()

,Sample Number,Bill Length (mm),Bill Depth (mm),Flipper Length (mm),Body Mass (g)
count,344.000000,342.000000,342.000000,342.000000,342.000000
mean,63.151163,43.921930,17.151170,200.915205,4201.754386
std,40.430199,5.459584,1.974793,14.061714,801.954536
min,1.000000,32.100000,13.100000,172.000000,2700.000000
25%,29.000000,39.225000,15.600000,190.000000,3550.000000
50%,58.000000,44.450000,17.300000,197.000000,4050.000000
75%,95.250000,48.500000,18.700000,213.000000,4750.000000
max,152.000000,59.600000,21.500000,231.000000,6300.000000

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   studyName            344 non-null    object
 1   Sample Number        344 non-null    int64
 2   Species              344 non-null    object
 3   Region               344 non-null    object
 4   Island               344 non-null    object
 5   Stage                344 non-null    object
 6   Individual ID        344 non-null    object
 7   Clutch Completion    344 non-null    object
 8   Date Egg             344 non-null    object
 9   Bill Length (mm)     342 non-null    float64
 10  Bill Depth (mm)      342 non-null    float64
 11  Flipper Length (mm)  342 non-null    float64
 12  Body Mass (g)        342 non-null    float64
 13  Sex                  334 non-null    object
 14  Comments             26 non-null     object
dtypes: float64(4), int64(1), object(10)
memory usage: 40.4+ KB

Categorical Variables:

Species: The species of the penguins (e.g., Adelie, Gentoo, Chinstrap). This is a categorical variable as penguins belong to distinct species categories.

Island: The island where the penguins were observed (e.g., Torgersen, Biscoe, Dream). This is also categorical as there are specific islands.

Sex: The gender of the penguin (e.g., Male, Female).

Numerical Variables:

Bill Length (mm): The length of the penguin's bill, which is a continuous numerical variable.

Bill Depth (mm): The depth of the penguin's bill, also continuous.

Flipper Length (mm): The length of the penguin's flippers.

Body Mass (g): The weight of the penguin's body.

Ordinal Variables:

Stage: The developmental stage of the penguins (e.g., Adult, Juvenile). This is ordinal as it represents a ranking or order.

Datetime Variable:

Date: The date of observation.

Boolean Variable:

HasEgg: A binary variable indicating whether the penguin has an egg or not.

>Reference:

https://www.analyticsvidhya.com/blog/2022/04/data-exploration-and-visualisation-using-palmer-penguins-dataset/